DATABASE_URL="url"
ADMIN_PASSWORD="pwd"
ADMIN_AUTH_SECRET="secret"
TWITCH_CLIENT_ID="..."
TWITCH_CLIENT_SECRET="..."
# openssl rand -base64 33
AUTH_SECRET="..."
# Set to your site URL in production, e.g. https://example.com
AUTH_URL="http://localhost:3000"